[submodule "DampEngine/vendor/spdlog"]
	path = DampEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "DampEngine/vendor/GLFW"]
	path = DampEngine/vendor/GLFW
	url = https://github.com/marcuscastelo/glfw
